html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}
  #map {
    height: 100%;
  }
  #goCenterUI, #showAllUI, #testCaseUI {
    background-color: #fff;
    border: 2px solid #fff;
    border-radius: 3px;
    box-shadow: 0 2px 6px rgba(0,0,0,.3);
    cursor: pointer;
    float: left;
    margin-bottom: 22px;
    text-align: center;
  }
  #goCenterText, #showAllText, #testCaseText {
    color: rgb(25,25,25);
    font-family: Roboto,Arial,sans-serif;
    font-size: 15px;
    line-height: 25px;
    padding-left: 5px;
    padding-right: 5px;
  }
  #showAllUI, #testCaseUI {
    margin-left: 12px;
  }

  .infowindow {
    font: 400 11px Roboto, Arial, sans-serif;
  }

  .full-width {
    width: 180px;
  }

  .infowindow .title {
    overflow: hidden;
    font-weight: 500;
    font-size: 14px;
  }

  .infowindow .address {
    margin-top: 2px;
    color: #555;
  }

  .infowindow .address-line {
    color: #333;
    font-family: Roboto,Arial;
    font-size: 13px;
    background-color: white;
  }

  .infowindow .latlng {
    margin-top: 13px;
    color: #333;
    font-family: Roboto,Arial;
    font-size: 13px;
    background-color: white;
  }

  .truck {
    margin-top: 1px;
  }

  .dropdown-container {
    display: block;
    padding-left: 16px;
  }

  .dropdown-container ~ .dropdown-container {
    display: none;
  }

  .list-group-item:first-child {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
  }

  .list-group-item:last-child {
    margin-bottom: 0;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
  }

  .dropdown-item {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 12px;
  color: #818181;
  display: block;
  border: none;
  background: none;
  width:100%;
  text-align: left;
  cursor: pointer;
  outline: none;
  }

  .dropdown-item.active{
    color: #0062cc;
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0);
    font-weight: bold;
  }

  .dropdown-item:focus, .dropdown-item:hover {
    /* color: #16181b; */
    /* text-decoration: none; */
    background-color: rgba(0, 0, 0, 0);
  }

  .list-group-item.active {
    z-index: 2;
    color: #495057;
    background-color: rgba(0,0,0,.075);
    border-color: rgba(0,0,0,.075);
  }

  .badge {
    font-size: 100%;
  }

  .notice {
    position: absolute;
    right: 10px;
    background-color: #28a745;
  }